@import 'utils/vars.scss';
@import 'components/header.scss';
@import 'components/mobile-menu.scss';
@import 'components/logo.scss';
@import 'components/hero.scss';
@import 'components/modal.scss';
@import 'components/articles.scss';
@import 'components/section.scss';
@import 'components/team.scss';
@import 'components/clients.scss';
@import 'components/footer.scss';
@import 'components/filters.scss';
@import 'components/services.scss';

/*Globals - klasy stosowane globalnie*/
* {
    margin: 0;
    padding: 0;
}
* {
    z-index: 1;
}

body {
    font-family: $primary-font, sans-serif;
    color: $dark-font;

    @media (min-width: 0px) and (max-width: 481px) {
        max-width: 480px;
    }
    @media (min-width: 481x) and (max-width: 1200px) {
        max-width: 768px;
    }
}
ul {
    list-style-type: none;
}
.section {
    padding: 94px 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.backgroud--black {
    background-color: $dark-background;
}
.background--grey {
    background-color: $grey-background;
}
svg {
    fill: $grey-font;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*Header*/
.header {
    padding: 24px 0 25px;
    border-bottom: 1px solid #ececec;
    @media (min-width: 0px) and (max-width: 480px) {
        padding: 10px 0 10px;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        padding: 16px 0 16px;
    }
}
.logo {
    font-family: $secondary-font;
    color: $only-blue;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;

    @media (min-width: 0px) and (max-width: 768px) {
        font-size: 24px;
    }
}
/* hero - index.html*/
.hero {
    color: $white-font;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    display: block;
    background: url('../images/about-us/d-hero-background-1x.jpg');
    background-repeat: no-repeat;
    background-color: $dark-background;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        &__picture-1 {
            background-image: url('../images/about-us/d-hero-background-2x.jpg');
        }
    }
    @media (min-width: 0px) and (max-width: 480px) {
        padding-top: 118px;
        padding-bottom: 118px;
        background: url('../images/about-us/m-hero-background-1x.jpg');
        background-repeat: no-repeat;
        max-width: 480px;
        height: 400px;
    }
    @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        &__picture-1 {
            background-image: url('../images/about-us/m-hero-background-2x.jpg');
        }
    }
    @media (min-width: 481px) and (max-width: 768px) {
        padding-top: 118px;
        padding-bottom: 118px;
        background: url('../images/about-us/t-hero-background-1x.jpg');
        background-repeat: no-repeat;
        max-width: 768px;
        height: 400px;
    }
    @media (min-width: 0px) and (max-width: 480px) and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        &__picture-1 {
            background-image: url('../images/about-us/t-hero-background-2x.jpg');
        }
    }
}
/*modal - index.html*/

.modal {
    position: absolute;
    background-color: $white-font;
    transform: scale(1);
    transition: transform 250ms ease-in;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* LOREM IPSUM - index.html*/

.articles {
    display: flex;
    gap: 30px;

    @media (min-width: 0px) and (max-width: 480px) {
        flex-direction: column;
        align-self: center;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        flex-wrap: wrap;
        align-self: center;
    }
}
/* Czym się zajmujemy - index.html */
@media (max-width: 768px) {
    .disappear {
        display: none;
    }
}

/* Nasz zespół - index.html*/

.team {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 30px;
    @media (min-width: 0px) and (max-width: 480px) {
        flex-direction: column;
        align-self: center;
    }
    @media (min-width: 481px) and (max-width: 768px) {
        flex-wrap: wrap;
        align-self: center;
    }
}
ul#team li {
    background-color: $white-font;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* Nasi klienci - index.html*/
/* Footer */
.footer {
    padding: 60px 0;
    background-color: $dark-background;
}
/* main - filters - portfolio.html */
/* main - products = portfolio.html */
