.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
@media (max-width: 481px) {
    .menu {
        display: none;
    }
}
.mobile-menu-font:hover,
.mobile-menu-font:focus {
    color: $only-blue;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 481px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
    fill: blue;
}

.menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 796px;
    padding-left: 40px;
    padding-top: 48px;
    background-color: $white-font;
    z-index: 999;

    transform: scale(0);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: scale(1);
}
.menu-toggle {
    position: absolute;
    top: 10px;
    right: 0px;
}

.mobile-menu {
    list-style: none;
    text-align: left;
}
.mobile-menu-list-spacing1 {
    margin-bottom: 36px;
}
.mobile-menu-list-spacing2 {
    margin-bottom: 36px;
}
.mobile-menu-list-spacing3 {
    padding-right: 10px;
    border-right: solid 1px rgba(33, 33, 33, 0.2);
}
.mobile-menu-list-spacing4 {
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid 1px rgba(33, 33, 33, 0.2);
}
.mobile-menu-list-spacing5 {
    padding-left: 10px;
}
.mobile-menu-font {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.172;
    letter-spacing: 0.02em;
    text-align: left;
    color: $dark-font;
    text-decoration: none;
}
.mobile-menu-contacts-container {
    margin-top: 266px;
}
.mobile-menu-contacts-font1 {
    color: $only-blue;
    font-size: 34px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.68px;
    text-decoration: none;
}
.mobile-menu-contacts-font2 {
    color: $grey-font;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-decoration: none;
}

ul#mobile-menu-social li {
    display: inline;
    gap: 20px;
}
.mobile-menu-social-font {
    color: $only-blue;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
    text-decoration: none;
}
