@import 'https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap';

$primary-font: 'Roboto';
$secondary-font: 'Raleway';
$dark-font: #212121;
$grey-font: #757575;
$white-font: #ffffff;
$ash-font: #ffffff99;
$only-blue: #2196f3;
$dark-background: #2f303a;
$grey-background: #f5f4fa;
$grey-icon: #afb1b8;
